# Ignorar directorios generados por herramientas de desarrollo
/node_modules

# Ignorar archivos y directorios generados durante la ejecución
npm-debug.log
yarn-error.log

# Ignorar archivos de dependencias de desarrollo
/package-lock.json
/yarn.lock

# Ignorar archivo de variables de entorno
.env