.proyecto{
    display: grid;
    background-color: rgb(54,54,54);
}



.proyecto1{
    display: inline-grid;
    align-items: center;
    justify-items: center;
    column-gap: 15vh;
    row-gap: 15vw;
    width: 45vw;
    height: 45vh;
    background-color: rgb(54,54,54);
    border-style: solid;
}